<!DOCTYPE html>
<html>
<head>
  <title>Craigslist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%if logged_in?%>
    <ul>
      <li>hey <%=current_user.username%></li>
      <li><%=link_to 'logout', '/logout' %></li>
      <%else%>
      <li><%=link_to 'login', '/login' %></li>
      <li><%=link_to 'signup', '/signup' %></li>
      <%end%>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
